.get { margin: 30px 0px 0px 30px; color: DarkGreen; background-color: AliceBlue; width: 850px; padding: 30px 30px 30px 30px; border-radius: 15px; }
.post { margin: 30px 0px 0px 30px; color: DarkBlue; background-color: AliceBlue; width: 850px; padding: 30px 30px 30px 30px; border-radius: 15px; }
.put { margin: 30px 0px 0px 30px; color: DarkCyan; background-color: AliceBlue; width: 850px; padding: 30px 30px 30px 30px; border-radius: 15px; }
.delete { margin: 30px 0px 0px 30px; color: DarkRed; background-color: AliceBlue; width: 850px; padding: 30px 30px 30px 30px; border-radius: 15px; }
.patch { margin: 30px 0px 0px 30px; color: Brown; background-color: AliceBlue; width: 850px; padding: 30px 30px 30px 30px; border-radius: 15px; }
.text { width: 780px; margin-left:20px; }
